@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  text-decoration: none;
  list-style-type: none;
}

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* **************************shared style **********************************************/

.display-flex {
  display: flex;
}

main > section {
  margin-top: 130px;
}

.text-primary {
  color: #ff900e;
}

.primary-btn {
  background-color: #ff900e;
  color: white;
  padding: 20px 25px;
  font-size: 1.25rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.text-gray {
  color: #424242;
}

.text-light-gray {
  color: #727272;
}
.brand {
  font-weight: 700;
  color: #131313;
  font-size: 3rem;
}
.nav-link {
  font-weight: 500;
}

.navbar {
  justify-content: space-between;
  align-items: center;
}
.nav-item {
  margin-right: 30px;
}

.bg-lite {
  background-color: rgba(255, 144, 14, 0.1);
}

.navbar,
.banner {
  max-width: 1440px;
  margin: 0 auto;
}

.banner-content {
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.banner-title {
  font-size: 4rem;
}

.banner-img {
  width: 100%;
}

main,
footer {
  max-width: 1440px;
  margin: 0 auto;
}

.treams {
  align-items: center;
}
.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.team-img-container img{
  width: 100%;
}

.our-features {
  margin-left: 130px;
  max-width: 530px;
}

.section-title {
  font-size: 2.8rem;
  font-weight: 700;
}

#quick-list {
  font-weight: 500;
}

.fact {
  border: 1px solid #ff900e;
 width: 230px;
  height: 240px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.fact-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  
}
.fact-number {
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
}
.fact-name {
  margin-top: 10px;
  font-size: 1.25rem;
}
.fact-description {
  max-width: 540px;
}

.sponsor-info {
  max-width: 540px;
  margin: 50px auto;
  text-align: center;
}

.sponsor-compaines {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.sponsor-compaines img {
  filter: grayscale(100%);
}

#features-section-title {
  border-left: 5px solid #ff900e;
}

.feature-card {
  padding: 30px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
  margin-bottom: 20px;
  border-radius: 8px;
}
.feature-card .feature-title {
  font-weight: 600;
  font-size: 1.25rem;
  margin-top: 0;
  margin-bottom: 0;
}

.features {
  gap: 140px;
}

#experience-bage {
  padding: 45px 42px;
  font-weight: 500;
  font-size: 1.5rem;
  margin-left: -100px;
  margin-top: -100px;
}
#experience-year {
  font-size: 4rem;
  font-weight: 700;
}

.features-architec img {
  width: 100%;
}

footer {
  background-color: #fff4e7;
  padding: 40px 0;
  text-align: center;
  margin-top: 100px;
}
footer p {
  font-size: 20px;
}




@media screen and (max-width: 576px) {
  .navbar,
  .nav-links,
  .features {
    flex-direction: column;
  }
  .treams {
    flex-direction: column-reverse;
  }
  .team-img-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .our-features {
    margin-left: 20px;
    text-align: center;
    margin-bottom: 20px;
  }
  .fact-container {
    grid-template-columns: repeat(1, 1fr);

    justify-items: center;
  }
  .sponsor-compaines {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  #experience-bage {
    margin-left: 20px;
    margin-top: 20px;
  }
}


@media screen and (min-width: 576px) and (max-width: 992px) {
  .treams,
  .features, .navbar {
    flex-direction: column;
  }
  .our-features {
    margin: 50px auto;
  }
  .sponsor-compaines,
  .fact-container {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
  #experience-bage {
    margin-left: 10px;
    margin-top: 20px;
  }
  .fact-container{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
  }
}
