@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  text-decoration: none;
  list-style-type: none;
}

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* **************************shared style **********************************************/

.display-flex {
  display: flex;
}

main > section {
  margin-top: 130px;
}

.text-primary {
  color: #ff900e;
}

.primary-btn {
  background-color: #ff900e;
  color: white;
  padding: 20px 25px;
  font-size: 1.25rem;
  border-radius: 8px;
  border: none;
}

.text-gray {
  color: #424242;
}

.text-light-gray {
  color: #727272;
}
.brand {
  font-weight: 700;
  color: #131313;
  font-size: 3rem;
}
.nav-link {
  font-weight: 500;
}

.navbar {
  justify-content: space-between;
  align-items: center;
}
.nav-item {
  margin-right: 30px;
}

.bg-lite {
  background-color: rgba(255, 144, 14, 0.1);
}

.navbar,
.banner {
  max-width: 1440px;
  margin: 0 auto;
}

.banner-content {
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.banner-title {
  font-size: 4rem;
}

.banner-img {
  width: 100%;
}

main {
  max-width: 1440px;
  margin: 0 auto;
}

.treams {
  align-items: center;
}
.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.our-features {
  margin-left: 130px;
  max-width: 530px;
}

.section-title {
  font-size: 2.8rem;
  font-weight: 700;
}

#quick-list {
  font-weight: 500;
}
@media screen and (max-width: 576px) {
  .navbar,
  .nav-links,
  .treams {
    flex-direction: column;
  }
  .team-img-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .our-features {
    margin-left: 20px;
  }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  .treams {
    flex-direction: column;
  }
  .our-features {
    margin: 50px auto;
  }
}
